* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Andale Mono, monospace;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row{
    height: auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: DodgerBlue;
}

.flex-container > div {

}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 450px;
}

.grid-container > div {
    text-align: left;
    padding: 5px 0;
}

.item1 {
    grid-column: 1 / span 2;
    background-color: rgb(19, 202, 193);
    color: rgb(0, 0, 0);
    width: 300px;
    height: 150px;
}

div:empty {
    width: 150px;
    height: 150px;
    background: rgb(238, 250, 249);
}

div {
    background: rgb(11, 177, 169);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;

}

.discount {

    background-color: rgb(3, 114, 109);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Bradley Hand, cursive;

}

.discount > .item22 {

    background-color: rgb(3, 114, 109);
    color: rgb(255, 255, 255);



}

.item23, .item24, .item25 {
    background: rgb(238, 250, 249);
    color: rgb(0, 0, 0);

}



